In [1]:
import scipy.io
import torch
import pandas as pd
import matplotlib.pyplot as plt
import torch.nn.functional as F
import os
from glob import glob
import numpy as np

In [2]:
print(os.getcwd())
os.chdir("..")
main_dir = os.getcwd() 
main_data_dir =  "/media/mountHDD2"
print(os.listdir(main_dir))

/media/mountHDD2/thao/git/HeartResearch/Chapman Dataset/Data_Explore
['Data_Explore', 'Diagnostics.xlsx', '.ipynb_checkpoints', '2D_model', '1D_Model', '2D_Loss']

In [3]:
data_dir = "/media/mountHDD3/data_storage/biomedical_data/ecg_data/ECGDataDenoised"
# data_df = pd.read_csv(data_dir)
label_file = main_dir + "/Diagnostics.xlsx"

In [4]:
label_df = pd.read_excel(label_file)
label_df = label_df[['FileName', 'Rhythm']]

In [5]:
label_df.shape

(10646, 2)

In [6]:
print(label_df)

                         FileName Rhythm
0      MUSE_20180120_121711_19000     SA
1      MUSE_20180120_121704_86000     SA
2      MUSE_20180113_125357_13000     SA
3      MUSE_20180113_134825_04000     SB
4      MUSE_20180115_123455_79000     SB
...                           ...    ...
10641  MUSE_20181222_204246_47000    SVT
10642  MUSE_20180115_120332_79000     SA
10643  MUSE_20180712_152507_30000     AF
10644  MUSE_20180118_181350_17000     SA
10645  MUSE_20180116_121646_28000     ST

[10646 rows x 2 columns]

In [7]:
# data_df

In [8]:
# array = data_df.values.T
# print(array)
# print(array.shape)

In [9]:
# def plots(i):
#     plt.figure(figsize = (15,2))
#     plt.plot(array[i][:4000])

# for i in range(7,9):
#     if i % 1 ==0:
#         print(array[i][100])
#         plots(i)

In [10]:
# clip_data = array[:, 500:3000]
# print(clip_data)
# print(clip_data.shape)

In [11]:
data_df =  pd.read_csv(glob(data_dir + "/*")[1], header= None)
print(data_df.shape)
print(data_df.values.shape)
print(data_df.values.T)
print(data_df.values.T.shape)
print(type(data_df.values.T))

(5000, 12)
(5000, 12)
[[ -25.883   -26.096   -26.166  ...   23.986    21.187    17.897 ]
 [ -33.342   -31.674   -29.694  ...   25.434    22.215    18.86  ]
 [ -18.343   -16.401   -14.291  ...    2.0346    1.6076    1.5363]
 ...
 [ -71.49    -70.931   -70.277  ...   19.458    17.915    17.044 ]
 [-201.85   -199.96   -198.01   ...   29.761    26.684    23.461 ]
 [ -18.011   -17.844   -17.704  ...   15.243    15.339    15.62  ]]
(12, 5000)
<class 'numpy.ndarray'>

In [12]:
ls = []
for file in glob(data_dir + "/*")[5000:10646]:
    data_df =  pd.read_csv(file, header= None)
    ls.append(data_df.shape[1])
ls_list = pd.Series(ls)
ls_list.value_counts()
# print(ls_list)

12    5646
dtype: int64

In [16]:
ls = []
for file in glob(data_dir + "/*"):
    data_df =  pd.read_csv(file, header= None)
    t = data_df.shape[0]
    if t == 1926:
        print(file)
ls_list = pd.Series(ls)
ls_list.value_counts()

/media/mountHDD3/data_storage/biomedical_data/ecg_data/ECGDataDenoised/MUSE_20180113_124215_52000.csv

/tmp/ipykernel_1313298/863931603.py:7: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ls_list = pd.Series(ls)

Series([], dtype: int64)

In [17]:
# data_df =  pd.read_csv("/media/mountHDD3/data_storage/biomedical_data/ecg_data/ECGDataDenoised/MUSE_20180113_124215_52000.csv", header= None)

In [18]:
# data_df

,0,1,2,3,4,5,6,7,8,9,10,11
0,61.10300,37.5210,-26.6400,-47.9590,51.881000,6.3059,1.8689,55.2110,29.09100,11.56200,24.8030,-7.7427
1,47.68100,36.0800,-14.4570,-41.2910,39.054000,12.4480,-2.6609,50.7420,25.20900,9.65770,20.9110,1.9899
2,34.12400,32.7300,-4.0495,-33.4790,27.012000,16.5790,-6.6083,45.9500,21.53900,7.19830,16.3570,9.3735
3,20.80700,26.6480,3.3857,-24.2100,16.486000,17.5660,-9.4085,40.9140,18.34300,4.11060,11.1230,12.7210
4,8.54860,18.6550,7.8520,-14.2790,7.845600,15.7880,-10.8290,36.0080,15.76400,0.74617,5.8018,11.5970
...,...,...,...,...,...,...,...,...,...,...,...,...
1921,0.58720,-8.7281,-1.3245,3.2506,-0.091394,-7.1624,3.6304,1.6450,-1.62060,-5.61300,-9.7905,13.2840
1922,-0.87697,-9.8012,-2.3854,4.3261,-0.473400,-8.2190,3.7173,2.8417,-0.64573,-4.89760,-9.1505,12.8660
1923,-2.18820,-10.8140,-3.6230,5.3473,-0.696510,-9.2740,3.6878,3.8957,0.25739,-4.31850,-8.5834,12.4400
1924,-3.21890,-11.7040,-4.9301,6.2476,-0.709250,-10.2200,3.5540,4.7740,1.07030,-3.88790,-8.1427,11.8790
1925,-3.91180,-12.4370,-6.1580,6.9786,-0.530000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
type(a)

In [ ]:
a[0]

In [ ]:
a

In [ ]:
a[2].shape

In [ ]:
print(len(a[2][1]))

In [ ]:
def plots(i):
    plt.figure(figsize = (15,2))
    plt.plot(a[2][i][:4500])

for i in range(12):
    if i % 1 ==0:
        plots(i)
# save_dir =         
# plt.savefig()

In [ ]:
## Grayscale
data = scipy.io.loadmat("/media/mountHDD2/khoibaocon/alldata/A0011.mat")['ECG'][0][0][2]
clip_data = data[:, 500:2500]
clip_data = torch.tensor(clip_data, dtype=torch.float32)
normalized_data = (clip_data - clip_data.min()) / (clip_data.max() - clip_data.min())
grayscale_images = (normalized_data * 255)
grayscale_images = grayscale_images.unsqueeze(0).unsqueeze(0) # (1, 1, h, w)
resized_images = F.interpolate(grayscale_images, size=(12*4,2500), mode='bilinear', align_corners=True)
resized_images = resized_images.squeeze(0).squeeze(0)
print(resized_images.shape)
torch_data = resized_images.unsqueeze(0).repeat(3, 1, 1)
plt.figure(figsize=(25, 25))
plt.imshow(resized_images, cmap='gray', vmin=0, vmax=255)
plt.show()

In [ ]:
fig, axs = plt.subplots(5, 1)
axs[0].plot(a[2][2][500:3000], 'tab:blue')
axs[0].set_title('Lead III',x=1.075,y = 0.25)
axs[1].plot(a[2][3][500:3000], 'tab:blue')
axs[1].set_title('Lead aVR',x=1.095,y = 0.25)
axs[2].plot(a[2][4][500:3000], 'tab:blue')
axs[2].set_title('Lead aVL',x=1.09,y = 0.25)
axs[3].plot(a[2][9][500:3000]/10, 'tab:blue')
axs[3].set_title('Lead V3',x=1.08,y = 0.25)
axs[4].plot(a[2][11][500:3000]/10, 'tab:blue')
axs[4].set_title('Lead V6',x=1.08,y = 0.25)
axs[0].axes.get_xaxis().set_ticks([])
axs[1].axes.get_xaxis().set_ticks([])
axs[2].axes.get_xaxis().set_ticks([])
axs[3].axes.get_xaxis().set_ticks([])
axs[4].axes.get_xaxis().set_ticks([])
plt.tight_layout(pad = 3, h_pad = 1, w_pad = 1)
bbox_inches='tight'
plt.savefig("/home/thaobeo/git/HeartResearch/ECGsig.pdf", format = 'pdf', dpi = 300)